_dark = $colors.dark
_red = $colors.red
_white = $colors.white

.root
  width 100%
  height 50px
  background _dark
  align-items center
  justify-content center
  display flex
  flex-direction row

.button
  color _white 
  padding-left gutter(m)
  font-size gutter(l)
  font-weight lighter