_dark = $colors.dark
_white = $colors.white

.root
  width 200px
  height 100px
  align-items center
  justify-content center
  background _dark
  box-shadow 0 1px 5px 0 rgb(218, 13, 13), 0 7px 17px 0 rgba(247, 0, 0, 0.8);

.text
  color _white
