.body
  padding gutter(m)

.greeting
  color $PRIMARY // use a global variable from /styles/index.styl

.button
  width gutter(l)
  height gutter(l)
  margin gutter(m)
  align-items center
  justify-content center

.increment
  background-color green

.decrement
  background-color red

.clear
  background-color orange
  width gutter(l) * 5

.label
  color white
  font-size 24px